@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
    font-family: "Inter", sans-serif;
    background: rgb(245, 248, 255);
}

:root{
    --primary-color1: rgb(0, 0, 0) ;
    --primary-color2:  rgb(233, 90, 8) ;
    --secondary-color: rgba(0, 0, 0, 0.5);
    --primary-weight:700;
    --primary-size: 4.0625rem;
    --secondary-size: 1.375rem;
    --primary-font:"Noto Serif", serif;
    --secondary-font: "Inter", sans-serif;
   

}

.paragrap{
    color: var(--secondary-color);
    font-size: var(--secondary-size);
    font-family: var(--secondary-font);
}
 .headline-primary{
    font-size: var(--primary-size);
    font-weight: var(--primary-weight);
    color:var(--primary-color1);
    /* line-height: var(--primary-size);     */
    font-family: var(--primary-font);
}
.headline-span{
    color: var(--primary-color2);
    font-family: var(--primary-font);
    
}
.btn{
    color: #fff;
    background-color: var(--primary-color2);
    font-family: var(--secondary-font);
    padding: 20px 50px;
    font-weight: 600;
    border: none;
}

img{
    max-width: 100%;
}

header>section , main>section ,footer>section{
    max-width: 1140px;
    margin: 10px auto;
    margin-bottom: 100px;
}





/* Header */
/* Navigation-section */

.navigation-section nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navigation-section nav img{
    width: 135px;
    height: 82px;
}
.navigation-section nav ul{
    display: flex;
    align-items: center;
    
}
.navigation-section nav ul li{
    list-style: none;
    padding-right: 20px ;
    font-family: var(--secondary-font);
}
.navigation-section nav ul li a{
    text-decoration: none;
}


.navigation-section nav ul .li1 .a1{
   color: rgb(37, 36, 50);
   font-weight: var(--primary-weight);
}
.navigation-section nav ul .li2 .a2{
    color: rgb(137, 135, 161);
}
.navigation-section nav ul .li3 .a3{
    color: rgb(137, 135, 161);
}
.navigation-section nav ul .li4 .a4{
    color: rgb(37, 36, 50);
}


/* Banner-section */

.banner-section { 
    display: flex;
    align-items: end;
}
.banner-section .banner-text{
    max-width: 50%;
}

/* .banner-section .banner-text h1{
    font-size: var(--primary-size);
    font-weight: var(--primary-weight);
    color:var(--primary-color1);
    line-height: var(--primary-size);    
    font-family: var(--primary-font);
} */
/* .banner-section .banner-text h1 span{
    color: var(--primary-color2);
    font-family: var(--primary-font);
    
} */
/* .banner-section .banner-text p{
    color: var(--secondary-color);
    font-size: var(--secondary-size);
    font-family: var(--secondary-font);
} */

.banner-section .banner-image {
    max-width: 50%;
}


/* Mani */
/* Our-Plants-section */
.our-plants-section{
    text-align: center;
    margin-bottom: 180px ;
    
}
.our-plants-section h2{}
.our-plants-section>p{
    margin: 7px 0 40px 0;
}
.our-plants-section .our-plants-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}
.our-plants-section .our-plants-cards .our-plant-card{}

.our-plants-section .our-plants-cards .our-plant-card .plant-card-text{
    margin: 20px 0;
}
.our-plants-section .our-plants-cards .our-plant-card .plant-card-text p{
    margin-bottom: 10px;
}
.our-plants-section .our-plants-cards .our-plant-card .plant-card-text h6{
    font-weight: 700;
    
}
.our-plants-section .our-plants-cards .our-plant-card button{

 /* padding: 26px 50px 26px 50px; */
    width: 100%;
}

.our-plants-section .our-plants-cards .our-plant-card .plant-card-text{}



/* Flower and Plants Lover-section */
.plants-lover-section {
   
}
.plants-lover-section .plants-lover-section-container{
    display: flex;
    align-items: center;
    gap: 60px;
}
.plants-lover-section .plants-lover-section-container{}
.plants-lover-section {
   
    position: relative;
}
.plants-lover-section .rewoard {
     width: 286px;
    height: 286px;
    position: absolute;  
    background: none;
    left: 355px;
    top: -140px;
    

}
.plants-lover-section .rewoard img {
    background: transparent;
    /* box-shadow: -4px 10px 4px 0px rgba(0, 0, 0, 0.25);
    background: url("../assets/trusted-badge.png"); */
    
}
.plants-lover-section .plants-lover-image{
    max-width: 50%;
}
.plants-lover-section .plants-lover-text{
    max-width: 50%;
}
.plants-lover-section .plants-lover-text h3{
    /* font-size: 50px; */
    line-height: var(--primary-size);
    margin-bottom: 20px;
}

.plants-lover-section .plants-lover-text ul li{
    margin-bottom: 10px;
}

/* Latest Deals-section */
.latest-deals-section{
 text-align: center;
}
.latest-deals-section p{
  margin: 15px 0 60px 0;
}
.latest-deals-section .latest-deals-images{
 display: grid;
 grid-template-columns: 1fr 2fr;
 gap: 30px;
}
.latest-deals-section .latest-deals-images .fst-row{
 display: grid;
 gap: 15px;
}
.latest-deals-section .latest-deals-images .latest-image img{
  border-radius: 30px;
}




.latest-deals-section .latest-deals-images {
    color: #fff;
    
}
.latest-deals-section .latest-deals-images .fst-row .latest-image1{
    background:url("../assets/deal-bloom.png");
    width: 366.22px;
    height: 206px;
    border-radius: 20px;
     background-repeat: no-repeat ;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     
}
.latest-deals-section .latest-deals-images .fst-row .latest-image1 h6{
    background:transparent;
    font-family: Noto Serif;
    font-size: 20px;
    font-weight: 700;
    
}
.latest-deals-section .latest-deals-images .fst-row .latest-image1 p{
    background: transparent ;
    color: #fff;
    text-decoration: underline;
}


.latest-deals-section .latest-deals-images .fst-row .latest-image2{
    background:url("../assets/deal-ana.png");
    background-repeat: no-repeat ;

    width: 366.22px;
    height: 206px;
    border-radius: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.latest-deals-section .latest-deals-images .fst-row .latest-image2 h6{
    background:transparent;
    font-family: Noto Serif;
font-size: 20px;
font-weight: 700;
line-height: 27px;
}
.latest-deals-section .latest-deals-images .fst-row .latest-image2 p{
    background: transparent ;
    color: #fff;
    text-decoration: underline;
}




.latest-deals-section .latest-deals-images .row2{
    background:url("../assets/deal-zabo.png");
    border-radius: 20px;
     background-repeat: no-repeat ;
      display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}
.latest-deals-section .latest-deals-images .row2 h6{
    background:transparent;
    color: #fff;
    font-family: Noto Serif;
font-size: 32px;
font-weight: 700;
line-height: 27px;
}
.latest-deals-section .latest-deals-images .row2  p{
    background: transparent ;
    color: #fff;
    text-decoration: underline;
}




/* colorful-banch-section */
.colorful-banch-section{
    background: url("../assets/news-letter-bg.png");
    max-width: 100%;
    height: 533px;
    text-align: center;
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: center;
    
    
}

.colorful-banch-section div{
    background-color:transparent;
    /* background-color:none; */
}
.colorful-banch-section div h4{
    background-color: transparent;
    color: #fff;
    /* font-size: 3.125rem; */
    

}

.colorful-banch-section div .ip input {
    /* border: none ; */
    max-width: 544px;
    width: 100%;
    padding: 8px 20px;
    border: none;
    
}
.colorful-banch-section .ip  button {

    padding: 8px 20px;
    border: none;
    margin-left: -10px;
    
    
    
}
.colorful-banch-section .ip{
    margin-left: 50px;
}

.colorful-banch-section .ip{
    display: flex;
}


/* footer */

.footer{
    display: flex;
    gap: 110px;
    align-items: start;
     margin-bottom: 40px;
}
.footer .footer1{}

.footer .footer23{
    display: flex;
    gap: 110px;
    max-width: 75%;
    width: 100%;
}
.footer .footer2{
    display: flex;
    gap: 110px;
}
.footer .footer23 .footer2 .footer21{}
.footer .footer23 .footer2 .footer21 ul{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 20px;
}
.footer .footer23 .footer2 .footer22 ul{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 20px;
}
.footer .footer23 .footer2 .footer21 ul li{
    list-style: none;
}
.footer .footer23 .footer2 .footer21 ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}
.footer .footer23 .footer2 .footer22 ul li{
    list-style: none;
     
}
.footer .footer23 .footer2 .footer22 ul li a{
    text-decoration: none;
    color: var(--secondary-color);
    
}



.footer .footer3{
    display: flex;
    gap: 32px;
    
}




/* responsive */

/* for mobaile */

@media screen and (max-width:576px){

    header>section , main>section ,footer>section{
    max-width: 540px;
    margin: 5px auto;
    margin-bottom: 50px;
}

  .navigation-section .li1 , .li2 , .li3{
    display: none;
  }  



    .banner-section{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        /* align-items: end; */
    }
      .banner-section .banner-text{ 
    max-width: 100%;
}
    .banner-section .banner-image{
        /* width: 100%;
        width: 393.18px;
    height: 245px; */
    }
    .banner-section .banner-image img{
        width: 100%;
    }
    .banner-section .banner-text{
        display: flex;
        flex-direction: column;
        text-align: left;

    }

    .our-plants-section .our-plants-cards{
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.plants-lover-section .rewoard {
    display: none;
   
}
.plants-lover-section .plants-lover-section-container   {
    flex-direction: column;
   
}
.plants-lover-section .plants-lover-section-container .plants-lover-text h3{
    /* font-size: 24px; */
    
}

.plants-lover-section .plants-lover-text{
    max-width: 90%;
}


.latest-deals-section .latest-deals-images .fst-row{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.latest-deals-section .latest-deals-images .fst-row .latest-image1{
    
    width: 100%;
}
.latest-deals-section .latest-deals-images .fst-row .latest-image2{
   background: ;
    width: 100%;
}
.latest-deals-section .latest-deals-images{
    display: flex;
    flex-direction: column;
}
.latest-deals-section .latest-deals-images{
    display: flex;
    flex-direction: column;
}

.colorful-banch-section .ip{
    margin: 40px;
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 50px;
    margin-bottom: 50px;
   
}
.footer .footer23 {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    gap: 50px;
    
}
.footer .footer2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 70px;
}

.footer .footer3 {
    display: flex;
    justify-content: center;
    text-align: center;
    
   
}



} 
    
